<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <title>Base html page</title>
    <script type = "text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
</head>

<body>


</body>

<div class = "myclass1"> hello bitches!!
<svg width = "500" height = "500">
    <rect x = "0" y = "0" width = "300" height = "200" fill='red'></rect>
    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" ></circle>
 </svg>
</div>
<div id = 'yoyo'>yoyo</div>
<div class = "myclass">
    Hello World!
 </div>

<script>
    // write your d3 code here.. 
    alert(d3.select("div").text());
    alert(d3.select(".myclass1").text());
    alert(d3.select("#yoyo").text());
    d3.select("div.myclass").append("span");
    d3.select("div.myclass").append("span").text("from D3.js");
 </script>
</html>